<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas</title>
    <!-- -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/css/styles.css')}}">
</head>
<body>
    <div class="container py-3">
        <section id="home" class="border-bottom">
            <div class="col-5 d-inline-block">
                <div class="row">
                    <img src="" alt="logo">
                    <h1>Welcome to Notas</h1>
                    <h2>App de notas</h2>
                </div>
                <div class="row">
                    <p>Escribe todo lo que tienes que hacer antes de olvidarlo</p>
                </div>
                <div class="row">
                    <button class="btn btn-primary mx-auto">Empezar</button>
                </div>
            </div>
            <div class="col-5 d-inline-block">
                <h3>Lista de la compra:</h3>
                <ul>
                    <li>Café</li>
                    <li>Café</li>
                    <li>Café</li>
                </ul>
            </div>
        </section>

        <section id="about" class="border-bottom">
            <div class="col-5 d-inline-block">
                <div class="row">
                    <img src="" alt="logo">
                    <h1>Welcome to Notas</h1>
                    <h2>App de notas</h2>
                </div>
                <div class="row">
                    <p>Escribe todo lo que tienes que hacer antes de olvidarlo</p>
                </div>
            </div>
            <div class="col-5 d-inline-block">
                <div class="my-3">
                    <img src="" logo="pic1">
                </div>
                <div class="my-3">
                    <img src="" logo="pic2">
                </div>
            </div>
        </section>
    </div>
</body>
</html>