{% block about %}
<section id="about">
    <div class="row p-5 align-items-center justify-content-center">
        <div class="col-5 px-5">
            <div class="row d-block text-center">
                <h2>Regístrate. Crea. Haz</h2>
                <p>Notas es una app de todos</p>
            </div>
        </div>

        <div class="col-5 d-flex justify-content-center">
            <div class="col-6 p-5 post-it bg-yellow-secondary">
                <h3>Lista de la compra:</h3>
                <ul class="px-0 list-unstyled">
                    <li>Café</li>
                    <li>Café</li>
                    <li>Café</li>
                </ul>
            </div>
            <div class="col-6 p-5 post-it bg-yellow-secondary mx-auto">
                <h3>Lista de la compra:</h3>
                <ul class="px-0 list-unstyled">
                    <li>Café</li>
                    <li>Café</li>
                    <li>Café</li>
                </ul>
            </div>
        </div>
    </div>    
</section>
{% endblock %}