{% block home %}
    <section id="home" class="row justify-content-center align-items-center">
        <div class="col-5 d-flex flex-column p-5">
            <div class="row px-7 align-items-center">
                <img id="img-home" class="d-inline-block" src="{{url_for('static', filename='/imgs/logos/logo500x500-sin-letras.png')}}" alt="logo">
                <div class="mx-2 text-uppercase text-center">
                    <h1>Notas</h1>
                    <h2>Todo App</h2>
                </div>
            </div>
            <div class="row p-3 justify-content-center">
                <p class="text-white text-center">Escribe todo lo que tienes que hacer antes de olvidarlo</p>
            </div>
            <div class="row">
                <button class="btn btn-light mx-auto rounded-pill btn-home px-5">Empezar</button>
            </div>
        </div>
        <div class="col-5 d-flex align-items-center px-3 py-0">
            <div class="col-7 p-5 post-it bg-yellow-secondary mx-auto">
                <h3>Lista de la compra:</h3>
                <ul class="px-0 list-unstyled">
                    <li>Café</li>
                    <li>Café</li>
                    <li>Café</li>
                </ul>
            </div>
        </div>
        <div class="triangle"></div>
    </section>
{% endblock %}

