{% block info %}
<section id="info" class="text-center py-5">
    <h2 class="text-primary">¿Qué puedes hacer?</h2>
    <div class="row justify-content-around">
        <div class="col-2 card bg-blueberry rounded-3">
            <img class="d-inline-block mx-auto my-3" src="https://via.placeholder.com/150?text=pic-1" alt="1">
            <h3>Regístrate</h3>
            <p>Crea tu usuario en unos pocos pasos.</p>
        </div>
        <div class="col-2 card bg-blueberry rounded-3">
            <img class="d-inline-block mx-auto my-3" src="https://via.placeholder.com/150?text=pic-2" alt="2">
            <h3>Crea tus Notas</h3>
            <p>Y léelas cuando quieras.</p>
        </div>
        <div class="col-2 card bg-blueberry rounded-3">
            <img class="d-inline-block mx-auto my-3" src="https://via.placeholder.com/150?text=pic-3" alt="3">
            <h3>Lleva tus notas</h3>
            <p>Disponibles en tu móvil o PC</p>
        </div>
    </div>
</section>
{% endblock %}