{% extends 'base.html' %}

{% block main %}
<!-- Permitimos login con email y contraseña -->
<section id="register" class="bg-gradient-blue py-5 d-flex align-items-center">
    <div class="col-4 mx-auto text-white">
        <h2 class="text-center text-white">Registro</h2>
        {% if error %}
            <div class="col bg bg-warning p-2 my-2">
                <p>{{error}}</p>
            </div>
        {% endif %}
        <form action="{{ url_for('register') }}" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="username">User</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Usuario">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mx-auto">Create User</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}