{% extends 'base.html' %}

{% block main %}
<section id="todos" class="bg-gradient-blue py-5">
    <h2 class="text-white text-center my-5">Nota - {{ todo[0] }}</h2>
    <div class="d-flex col-10 justify-content-center align-items-center mx-auto">
        <div class="col-4 my-2">
            <div class="card post-it post-it-large my-2 mx-auto">
                <div class="card-body">
                    <div class="row">
                        <div class="d-flex col justify-content-end">
                            <a href="{{ url_for('update_todo', id=todo[0]) }}" class="btn btn-warning p-1 ml-1"><img width="30" src="{{ url_for('static', filename='/imgs/iconos/pencil-black.png') }}"></a>
                            <a href="{{ url_for('delete_todo', id=todo[0]) }}" class="btn btn-danger p-1 ml-1"><img width="30" src="{{ url_for('static', filename='/imgs/iconos/bin-black.png') }}"></a>
                        </div>
                    </div>
                    <h5 class="card-title">{{ todo[1] }}</h5>
                    <div class="container">
                        <p class="card-text">Description: {{ todo[2] }}</p>
                        <p class="card-text">Create: {{ todo[4] }}</p>
                        <p class="card-text">Modified: {{ todo[5] }}</p>
                        <p class="card-text">Closed: {{ todo[6] }}</p>
                        <p class="card-text">State: {% if todo[3] == 0 %} Pendiente {% else %} Completado {% endif %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}